body{
    background-color: chartreuse;
}
p{
    color: red;
    padding: 0px;
    background-color: yellow;
}
div{
    margin: 30px;
}

div.one{
    font-size: 25px;
}
div.two{
    font-size: 35px;
}